:root {
    --z-index-shade: 10;

    --max-width: 90rem;
    --header-height: 3rem;
    --padding-inline-default: 1.25rem;

    /* fonts */
    --font-main: Helvetica Neue, Arial, Verdana, sans-serif;
    --font-alt: Open Sans, Helvetica Neue, Arial, Verdana, sans-serif;
}
#root-app[data-theme="default"] {
    --color-header: #343434;
    --color-dropdown-bg: #4e5257;
    --color-text-white: #f6f8f9;
    --color-headline: #123;
    --color-link: #176093;
    --color-text: #000000;
    --color-text-lowlight: #555555;
    --color-highlighted: #ff8a3c;
}