.studio {
    width: 14.375rem;
    height: 22.3125rem;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .875rem;
}
.images img {
    max-width: 14.375rem;
}