.main {
    display: grid;
    grid-template-columns: min-content auto min-content;
    column-gap: 20px;
}
.mainImage {
    margin-bottom: 20px;
    grid-row: 1/4;
}
.mainImage > img {
    width: 14.0625rem;
    height: 21.875rem;
}
.descr {
    grid-column: 4/-4;
}
.second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}