.header {
    margin: 0 auto;
    max-width: calc(var(--max-width) + 10rem);
    min-height: var(--header-height);
    color: var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-inline-default);
    font-family: var(--font-alt);
    font-size: 1rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-white);
}